.listOfButtons {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.selected {
  border: 2px solid blue;
}

.mainCalculator {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-right: auto;
  margin-left: auto;

}
